$color-background: #f2f2f2;

$color-white: #fff;
$color-black: #000;

$color-blue-light: #b0cdf9;
$color-blue: #4686E6;
$color-blue-dark: #154998;

$color-grey-dark: #3A3A3A;
$color-grey: #4C4C4C;
$color-grey-light: #CDCDCD;

$color-indigo: #9c60e6;

$color-red: #fb5e5e;
$color-red-light: #fedada;

$color-violet: #6869A4;
$color-violet-dark: #4d4e7f;

$bar-color-map: (
        2: #FFAC41,
        3: #38BAF0,
        4: #69D12B,
        5: #FA8BB0,
        6: #EFE211);

$bar-color-map-alt: (
        2: #9FCD56,
        3: #3BC693,
        4: #4CC1F1,
        5: #8D9DFF,
        6: #CD98FE);

$color-alpha-dark: rgba(0, 0, 0, .7);
$color-alpha: rgba(50, 50, 50, .4);
$color-alpha-light: rgba(250, 250, 250, .8);